{% extends '_global.twig' %}

{% block title %}{{ parent() }} :: {{ name }}{% endblock %}

{% block head %}
{{ parent() -}}
{% endblock %}

{% block body %}
<main>
	<div class="{{ type }} player">
		<{{ type }} id="media" controls{% if type == 'video'%} height="600"{% endif %}>
			<source src="{{ raw_url }}" type="{{ mime }}">
		</{{ type }}>
	</div>
</main>
<footer>
	<a href="{{ raw_url }}">RAW</a>
</footer>
{% endblock %}
